* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


.top-box {
    background-image: url("./dev1.png");
    background-size: cover;
    height: 100vh;
}

.header-box {
    padding-top: 35px;
    padding-left: 38px;
}

.title-header {
    font-size: 24px;
    color: #FFFFFF;
    display: inline;
    margin-right: 93px;
}

.link-header {
    font-size: 15px;
    color: #FFFFFF;
    display: inline;
    margin-left: 53px;
    cursor: pointer;
    text-decoration: none;
}

.link-header:hover {
    color: #F5DEB3
}

h1 {
    font-size: 58px;
    color: #FFFFFF;
    position: relative;
    margin-top: 307px;
    margin-left: 62px;

}

.text {
    font-size: 20px;
    color: #FFFFFF;
    margin-left: 62px;
    margin-top: 6px;
    width: 417px;

}

form {
    opacity: 0;
    transition: opacity 1s linear;
    background: #FFFFFF;
    border-radius: 10px;
    float: right;
    padding: 40px;
    margin-right: 50px;
    position: relative;
    bottom: 270px;
    right: 100px;
}

.mostrar-formulario {
    opacity: 2;
}

input {
    display: block;
    background: #F9F9F9;
    font-size: 14px;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    Width: 350px;
    Height: 60px;
    margin-bottom: 20px;
    padding-left: 10px;

}

textarea {
    display: block;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    Width: 350px;
    Height: 120px;
    background: #F9F9F9;
    font-size: 14px;
    margin-bottom: 20px;
    padding-left: 10px;
}

button {
    color: #FFFFFF;
    background: #40BB15;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 350px;
    height: 40px;
}

.box-center {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    padding: 35px;
    margin: 144px 115px 145px 115px;
}

.title-form {
    font-size: 24px;
    color: #252B42;
    margin-bottom: 40px;
    text-align: center;
}

label {
    font-size: 14px;
    color: #252B42;
}

#middle-title {
    font-size: 45px;
    font-weight: 700px;
    color: #252B42;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    margin-right: 50px;
    margin-right: 535px;
    margin-left: 580px;

}

.card {
    width: 330px;
    border-radius: 10px;
    background: #FFFFFF;
    border: 1px solid #A9D6FF;
}

.title-card {
    background: #737373;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    border-radius: 10px 10px 0 0;
}

ul {
    padding: 25px;
}

li {
    margin-bottom: 5px;
    margin-left: 10px;
}


.bottom-box {
    background-color: #737373;
}

#bottom-title {
    font-size: 40px;
    color: #FFFFFF;
    text-align: center;
}

.lower-paragraph {
    font-size: 20px;
    color: #FFFFFF;
    text-align: justify;
    padding: 20px 50px 50px 50px;
}